.form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto 2rem;
}

.form label,
.form input {
  margin-bottom: 1rem;
}

.form input {
  height: 2rem;
}

.form button {
  height: 2.5rem;
}


.title {
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
  margin: 0 0 2rem;
}

.container {
  margin: 0;
  padding: 2rem;
}


.report {
  padding: 3rem;
  max-width: 950px;
  margin: 0 auto;
}

.report h3 {
  margin-bottom: 2rem;
}

.report pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
